.text {
  font-size: 0.75rem;
  font-weight: bolder;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  position: relative;
}
